@supports(view-transition-name: transition) {
  ::view-transition-old(root),
  ::view-transition-new(root) {
    contain: layout;
    mix-blend-mode: normal;
    display: block;
  }
  ::view-transition-new(root) {
    animation: splodge-in 1.5s both ease-in-out;
  }
  ::view-transition-old(root) {
    animation: splodge-out 1.5s both ease-in-out;
    --size: 8vmin;
    -webkit-mask:
      linear-gradient(transparent 50%, black 50%),
      radial-gradient(var(--size) at 25% 0%, transparent 99%, black),
      radial-gradient(var(--size) at 50%, black 99%, transparent);
    -webkit-mask-size:
      100% 200%,
      calc(4 * var(--size)) calc(2 * var(--size)),
      calc(4 * var(--size)) 200%;
    -webkit-mask-repeat:
      repeat-x,
      repeat-x,
      repeat-x;
    -webkit-mask-position:
      0 100%,
      calc(50% - var(--size)) calc(0% - (2 * var(--size))),
      50% calc(100% - (2 * var(--size)));
  }

  ::view-transition-image-pair(root) {
    isolation: auto;
  }

  @keyframes splodge-in {
    0% {
      filter: brightness(0);
      clip-path: circle(0);
      z-index: 2;
    }
    50% {
      filter: brightness(0);
      clip-path: circle(200%);
      z-index: 2;
    }
    50.5%, 100% {
      z-index: -1;
      filter: brightness(1);
      clip-path: circle(200%);
    }
  }

  @keyframes splodge-out {
    0%, 49% {
      filter: brightness(1);
      z-index: 1;
      -webkit-mask: none;
    }
    50% {
      filter: brightness(0);
      z-index: 2;
      -webkit-mask:
        linear-gradient(transparent 50%, black 50%),
        radial-gradient(var(--size) at 25% 0%, transparent 99%, black),
        radial-gradient(var(--size) at 50%, black 99%, transparent);
      -webkit-mask-size:
        100% 200%,
        calc(4 * var(--size)) calc(2 * var(--size)),
        calc(4 * var(--size)) 200%;
      -webkit-mask-repeat:
        repeat-x,
        repeat-x,
        repeat-x;
      -webkit-mask-position:
        0 100%,
        calc(50% - var(--size)) calc(0% - (2 * var(--size))),
        50% calc(100% - (2 * var(--size)));
    }
    100% {
      z-index: 2;
      filter: brightness(0);
      -webkit-mask-position:
        0 calc(0% + (var(--size) * 1.9)),
        calc(50% - var(--size)) calc(100% - (-3 * var(--size))),
        50% calc(0% + (1 * var(--size)));
      /* transform: rotate(180deg) scale(1.1) translate(0, -150%); */
    }
  }
}